<%= form_tag '/tasks' do |f| %>
  <%= label_tag 'task[group]', 'Group' %>
  <%= select_tag 'task[group]', options_for_select(@groups) %>
  <%= label_tag 'task[name]', 'Task:' %>
  <%= text_field_tag 'task[name]', nil, placeholder: 'Your task' %><br/>
  <div class="task-time-container">
    <%= number_field_tag 'task[hours]', nil, in: 0.0..24.0, step: 1.0 %>
    <%= label_tag 'task[hours]', "HH / " %>
    <%= number_field_tag 'task[minutes]', nil, in: 0.0..59.0, step: 1.0 %>
    <%= label_tag 'task[minutes]', "MM  " %>
  </div>
  <%= submit_tag 'Add Task' %>
<% end %>
<%= javascript_pack_tag 'landing' %>
<%= javascript_pack_tag 'form_watcher' %>