<li class="items-entry">
  <%= image_tag  itemizables.icon_url, class: 'group-avatar' %>
  <%= itemizables[:name] %>
  <%= itemizables[:hours] if itemizables[:hours] %>
  <%= itemizables[:minutes] if itemizables[:minutes] %>
  <%= itemizables[:creation_date] %>
</li>